* {
    padding: 0;
    margin: 0;
}

.inner-div {
    display: flex;
    height: 15vh;
    padding: 10px;
    justify-content: space-between;
    align-items: end;
}

html {
    font-family: sans-serif, 'Mukta';
}

.ul-div {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: 200px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.icon {
    margin: 0 8px;
    color: #7a6666;
    font-size: 19px;
}

.ul-div li {
    margin: 0 22px;
    color: #7a6666;
    font-family: 'mukta';
    list-style: none;
    text-decoration: none;
}

.ul-div li a {
    color: #7a6666;
    font-family: 'mukta';
    font-size: 19px;
    /* font-size: 19px; */
    text-decoration: none;
}



.ul-div li a:hover {
    color: rgb(250, 38, 10);
    transition: all 0.4s;
}

.icon:hover {
    color: rgb(250, 38, 10);
    transition: all 0.4s;
}

.section {
    background-color: #f5f7f9;
    /* background-color: aqua; */
    min-height: 100vh;
    margin-top: 40px;
    padding-bottom: 100px;
}

.hero {
    background: url('./images/slider-1.webp');
    /* width: 10%; */
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.text-div h2 {
    color: rgb(236, 52, 39);
    font-size: 66px;
    font-family: 'mukta';
    line-height: 45px;
}

.text-div h1 {
    font-family: 'mukta';
    font-size: 75px;
}

.text-div p {
    font-family: 'mukta';
    margin-top: 20px;
}

.text-div {
    margin-bottom: 110px;
}

.offer-section {
    width: 100%;
    /* padding: 5px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.offer-card :hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    transition: all 0.7s;
}

.offer-section .offer-card img {
    width: 100%;
}

.popular {
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Mukta';
}

.product-links {
    /* background-color: royalblue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    height: 60px;
}

.li-div {
    display: flex;
}

.product-links a {
    text-decoration: none;
    list-style: none;
    margin: 0 10px;
    transition: all 0.4s;
    color: #7a6666;
    font-family: 'Mukta';
}

.product-links a:hover {
    color: rgb(247, 36, 36);
}

.product-links a:active {
    color: rgb(247, 36, 36);
}

.main-products {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.products img {
    width: 90%;
}


.footer {
    /* background-color: aqua; */
    height: 30vh;
    margin-top: 10px;

}

.upper-footer {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

.footer div {
    height: 100%;
}

.uniqlo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 24%;
}

.footer-text {
    font-size: 15px;
    height: 50px !important;
    color: #667070;
    font-family: 'Mukta';
}

.img-uniqlo {
    width: 400px !important;
    /* background-color: aqua; */
    height: 40px !important;
}


.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    width: 26%;
}

.newsletter h4 {
    margin-bottom: 20px;
    margin-left: 5px;
    font-family: 'mukta';
    font-size: 20px;
}

.footerSearch {
    display: flex !important;
    align-items: center;
    height: 50px !important;
    justify-content: safe;

}

.input-div {
    height: 50px;
    width: 280px;
    margin-right: 30px;
    display: flex;
}

.input-div input {
    border: 1px solid rgb(223, 210, 210);
    font-family: 'mukta';
    width: 190px;
    padding-left: 10px;
    color: 'Mukta';
    height: 40px;
}

.input-div button {
    border: 1px solid rgb(223, 210, 210);
    border-left: none;
    width: 60px !important;
    height: 40px;
    font-family: 'Mukta';
    background-color: transparent;
}

.contact {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 10px;
}

.contact h4 {
    margin-bottom: 12px;
    font-family: 'mukta';
    font-size: 21px;
}

.contact p {
    font-size: 15px;
    color: #667070;
    font-family: 'mukta';
}


.follow-footer {
    /* background-color: rgb(221, 192, 154); */
    font-family: 'Mukta';
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.footer-text-div{
    display: flex;
    align-items: end;
    /* background-color: aqua; */
    padding-left: 10px;
    height: 70% !important;
  
}

.follow-footer h4 {
    font-size: 22px;

}

.footer-icon{
    /* background-color: aquamarine; */
    display: flex;
    height: 50%;
    padding: 10px 0;
    align-items: start;
    justify-content: space-around;
}

.first,
.second,
.third {
    width: 33px;
    font-size: 13px;
    border: 1px solid rgba(90, 88, 88, 0.35);
    height: 33px !important;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(90, 88, 88, 0.35);
}

.hover:hover {
    background-color: rgb(248, 16, 16);
    transition: all 0.4s;
    color: white;
    font-weight: 800;
}





.down-footer {
    /* background-color: aqua; */
    width: 100%;
    height: 8vh !important;
    display: flex;
}

.text {
    /* background-color: forestgreen; */
    height: 100% !important;
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #667070;
    font-family: 'Mukta';
}

.footer-list {
    flex: 1;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: end;
}

.footer-list .li-div li {
    list-style: none;
    margin-right: 20px;
    font-family: 'Mukta';
    color: #667070;
}




.add {
    background-color: rgba(252, 252, 252, 0.932);
    width: 120px;
    color: black;
    transition: all 0.6s;
    position: absolute;
    visibility: hidden;
    font-size: 19px;
    opacity: 0;
    margin-left: 53px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add :nth-child(1) {
    /* background-color: aqua; */
    font-size: 17px;

}


.add :nth-child(2) i {
    /* font-size: 14px !important; */
    font-size: 27px;
}

.add :nth-child(3) {
    /* background-color: aqua; */
    font-size: 17px;


}

.price {
    background-color: white;
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    font-family: 'Mukta';
}

.name {
    font-size: 20px;
}


.products {
    position: relative;
    margin-top: 40px;
}

.products:hover .add {
    opacity: 0.9;
    visibility: visible;
    transform: translateX(60%);
}






.sidebar {
    width: 40%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: -233px;
    transition: all 0.7s;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
    transition: all ease 10s;
    opacity: 0;
    transform: translateX(42%);

}

.seak {
    opacity: 1;
    display: flex;
    transition: all 0.7s;
    transform: translateX(-42%);
}

.sidebar-close {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: aqua; */
    padding: 0 60px;

}

.show {
    font-size: 29px;
    font-weight: 800;
}

.close {
    color: black;
    font-size: 24px;
    transition: all 0.5s;
}

.close:hover {
    cursor: pointer;
    transform: rotate(300deg);
}

.sidebar-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.sidebar-text :nth-child(2) {
    margin-top: 20px;
    /* background-color: blue; */
}



.light {
    background-color: rgba(0, 0, 0, 0.77);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    display: none;
}

.hh {
    display: flex;
}



.dropdown {
    width: 100%;
    height: 100vh;
    margin-top: 30px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, "Mukta";
}

.dropdown .select {
    width: 100%;
    font-size: 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

select option {
    font-size: 14px;
    padding: 110px;
    font-family: sans-serif, 'Mukta';
}

.h3 {
    width: 72%;
}

.dropdown select {
    width: 70%;
    height: 40px !important;
    background-color: white;
}


.sidebar-icons {
    width: 100%;
    height: 400px !important;
    margin-top: 30px;
}


.side-row {
    width: 100%;
    height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.side-row div {
    margin: 20px;
    border-radius: 0;
    color: black;
    border: 1px solid white;
}



.center {
    width: 100%;
    height: 50px;
    text-align: center;
}

@media (max-width:1300px) {
    .ul-div {
        display: none;
    }
}

@media (max-width:997px) {
    .offer-section {
        flex-direction: column;
    }

    .sidebar {
        width: 60%;
    }

    .main-products {
        /* background-color: blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .products {
        margin-left: 40px;
    }

}

@media (max-width:1200px) {
    .products:hover .add {
        opacity: 0.9;
        visibility: visible;
        transform: translateX(-40%);
    }
}